*{
    font-family: calibri;
    scroll-behavior: smooth;
}

/* ============================ 1. Navbar ================================ */
.navbar{
    background-color: #363940;

}
.nav-item{
    padding: 3px;
}

.navbar-nav{
    margin-left: 30%;
    font-size: 1.3rem;
}
.navbar-brand{
    margin-left: 20%;
    letter-spacing: 3px;

}
/* ============================ 1. Navbar ================================ */

/* ============================ 2. Carousel ================================ */
.parallax{
    background-attachment: scroll;
	background-position: 50% 50%
}

.container {
    height: 100vh;

}

.carousel-inner{
    margin-bottom: 300px;
}

.Text-subble{
    font-family: nunito;
}

/* ============================ 2. Carousel ================================ */

.About-contain{
    min-height: 50vh;
}
.about h1{
    font-weight: 700;
    font-size: 3rem;
    padding-bottom: 10vh;
}

.About-contain p{
    margin-left: 80px;
    margin-right: 80px;
}

.mySKills_container p{
    font-size: 1.5rem;
}

@media (min-width: 600px) {
    .mySKills_container p{
        font-size: 2rem;
    }
}